/* index.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #000000; /* Fundo preto */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #quiz-container {
    background-color: #1c1c1c; /* Fundo cinza escuro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3); /* Sombra branca suave */
    text-align: center;
    width: 100%;
    max-width: 600px;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #f5f5f5; /* Branco suave para o título */
  }
  
  button {
    font-size: 1.5em;
    color: white;
    background-color: #333333; /* Fundo cinza escuro para os botões */
    border: 2px solid #ffffff; /* Borda branca padrão */
    padding: 15px;
    margin: 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3); /* Sombra branca leve */
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #4d4d4d; /* Cinza mais claro ao passar o mouse */
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.5);
  }
  
  button:active {
    transform: scale(0.98); /* Efeito de clique */
  }
  
  #result {
    font-size: 1.8em;
    margin-top: 20px;
    color: #e6e6e6; /* Cinza claro para o resultado */
  }
  
  #retryButton {
    background-color: #ff0000; /* Vermelho para o botão de tentar novamente */
    border: 2px solid #ffffff;
  }
  
  #retryButton:hover {
    background-color: #ff5555;
  }
  
  #nextQuestionButton {
    background-color: #008CBA; /* Azul para o botão de próxima pergunta */
    border: 2px solid #ffffff;
    padding: 10px;
    font-size: 1.2em;
  }
  
  #nextQuestionButton:hover {
    background-color: #00aaff;
  }
  