:root {
    --primary-color: #ffffff; /* Branco */
    --secondary-color: #cccccc; /* Cinza claro */
    --background-color: #1a1a1a; /* Preto suave */
    --text-color: #f0f0f0; /* Cinza claro para texto */
    --border-color: #333333; /* Cinza escuro */
    --button-hover-color: #444444; /* Cinza mais claro no hover */
    --correct-color: #00cc00; /* Verde para resposta correta */
    --incorrect-color: #ff3333; /* Vermelho para resposta incorreta */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#quiz-container {
    background-color: var(--border-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    max-width: 500px;
}

h1 {
    font-size: 1.5em;
    color: var(--primary-color);
    margin-bottom: 20px;
}

button {
    background-color: var(--secondary-color);
    color: var(--background-color);
    border: none;
    padding: 15px;
    margin: 10px 0;
    width: 100%;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

button:hover {
    background-color: var(--button-hover-color);
    transform: scale(1.05);
}

button:active {
    background-color: var(--button-hover-color);
    transform: scale(1.02);
}

button.correct {
    background-color: var(--correct-color);
    color: var(--background-color);
}

button.incorrect {
    background-color: var(--incorrect-color);
    color: var(--background-color);
}

@media (max-width: 600px) {
    button {
        font-size: 0.9em;
        padding: 12px;
    }
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--incorrect-color);
}

#retryButton {
    background-color: var(--secondary-color);
    color: var(--background-color);
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

#retryButton:hover {
    background-color: var(--button-hover-color);
}

#result.victory {
    color: var(--correct-color);
}